body {
    padding: 0;
    margin: 0;
}

#left-part {
    width: 30%;
    background-color: #114a54;
    height: 600px;
    float: left;
}

#right-part {
    width: 70%;
    height: 600px;
    float: left;
}